.wine*
**/history.*
.bash_history
.bash_logout
.bash_profile
.cache
.gnome
.ibam
.lesshst
.local
.macromedia
.**/mcabberrc*
.mozilla
.mplayer
.ncmpcpp
.nv
.nvidia-settings-rc
.positech
.ssh
.thunderbird
.xsession
+*
.Xauth*
.vim
.mcabber/mcabber-*
**/*.gnucash
**/*.log
**/*.pdf
**/*.html
**/*.gz
**/*.jpg
**/*.png
**/*.dump
*
.gitconfig
